#
# Copyright (c) 2024 ArtInChip Technology Co., Ltd.
#
# SPDX-License-Identifier: Apache-2.0
#

config AIC_TEST_PWM
	bool "ArtInChip PWM Test"
	depends on PWM
	default n
	---help---
		Enable the ArtInChip PWM test application